<ion-view view-title="Contact">
  <ion-content>
    <div id="googleMap" style="width:100%;height:380px;"></div>

    <article class="static-page">

      <div class="colhalf">
        <h3>For more information</h3>
        <p>
          <strong>C Building</strong>
          Address: 160 Kendal Ave, Toronto, ON M5R 1M3<br>
          Phone: (416) 415-2000<br>
          Fax: (416) 415-2000</p>

      </article>
    </ion-content>
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="http://maps.google.com/?saddr=Current%20Location&daddr= 160%20Kendal%20Ave%20Toronto%20ON%20M5R%201M3">
        <i class="icon ion-compass"></i>
        Direction
      </a>
      <a class="tab-item" href="mailto:abdosh.yusuf6@gmail.com">
        <i class="icon ion-email"></i>
        Email
      </a>
      <a class="tab-item" href="tel:+1 -416-415-2000" class="button button-positive">
        <i class="icon ion-iphone"></i>
        Call
      </a>
    </div>
  </ion-view>
